/*------------------------------------*\
    #TEXT
\*------------------------------------*/

/**
 * Paragraph base styles
 */
p {
	margin-bottom: $space;
}

/**
 * Blockquote base styles
 */
blockquote {
    font-style:italic;
    border-left: 1px solid color(neutral, grey50);
    color: color(neutral, grey50);
	padding-left: $pad;
	margin-bottom: $space;
}

/**
 * Horizontal rule base styles
 */
hr {
	border: 0;
    height: 2px;
    background: color(neutral, grey15);
    margin: $space-double 0;
}

/**
 * Abbreviation base styles
 */
abbr {
    border-bottom: 1px dotted color(neutral, grey50);
    cursor: help;
}