/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

/**
 * Footer
 */
.c-footer {
	clear: both;
	overflow: hidden;
	background: color(primary, green);
	color: color(neutral, white);
	line-height: 1.2;
	padding: 1em 0;
}

/**
 * Footer nav
 */
.c-footer__info {
	max-width: 40em;
	
	a {
		color: color(neutral, grey15);
		text-decoration: underline;
		
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}